body {
    background: url(../assets/img/targaryen.jpeg) top center fixed;
    background-size: cover;
    font-family: Cabin, sans-serif;
    font-size: 16px;
    color: #fff;
}
 
.back-blur {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background: rgb(0 0 0 / 59%) !important;
    backdrop-filter: blur(8px);
    padding-bottom: 1rem;
    min-height: 100vh;
}