@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/img/home-page-map.png) top center fixed;
  background-size: cover;
  color: #FFFFFF;
}

.title-container h1 {
  margin: 0rem 0rem 2rem 10rem;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
}

.title-container h4 {
  margin: 5rem 0rem 0rem 10rem;
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}

div.container-button {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

img {
  width: 40%;
}

div#hero-john {
  margin: auto;
}

div#hero-daenerys {
  margin: auto;
}

section.container {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.448) !important;
  backdrop-filter: blur(8px);
  min-height: 100vh;
  border: 1px solid #000000;
}

div#hero-john .title-text {
  margin: 0rem 0rem 0rem 2rem;
}

div#hero-daenerys .title-text {
  margin: 0rem 0rem 0rem 0.3rem;
}

div#hero-daenerys .subtitle-text {
  margin: 0rem 0rem 0rem 1.5rem;
}

div#hero-john .subtitle-text {
  margin: 0rem 0rem 0rem 1.9rem;
}

.title-text,
.subtitle-text {
  font-family: 'Jost', sans-serif;
}
